@use "../layout" as *;
@use "../themes" as *;

.head {
  background: #989898;
}

.account-hero {
  height: 320px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
}

.account-product {
  .account-content {
    .account {
      height: 150px;
      display: flex;
      align-items: center;
      gap: 26px;
      padding-top: 48px;
      img {
        height: 100%;
      }
      .account_content {
        h1 {
          color: $color-one;
          font-variant-numeric: lining-nums proportional-nums;

          /* Heading/Bold/H4 - 32px */
          font-family: Rubik;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 150% */
          text-transform: capitalize;
          padding-bottom: 8px;
        }
        p {
          color: $color-six;
          font-variant-numeric: lining-nums proportional-nums;

          /* Heading/Medium/H6 - 16px */
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
          text-transform: capitalize;
        }
      }
    }
    .slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 64px 270px 0;
      h2 {
        color: $color-six;

        /* Heading/Reguler/H4 - 32px */
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 150% */
        cursor: pointer;
        transition: 0.5s;
      }
      h2:hover {
        color: #000;
        text-decoration: 5px underline $color-four;
      }
    }
    .account_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 160px;
    }
  }
  @media only screen and (max-width: 1144px) {
    .account-content {
      .slide {
        padding: 64px 200px 0;
        h2 {
          font-size: 28px;
        }
      }
    }
  }
  @media only screen and (max-width: 999px) {
    .account-content {
      .slide {
        padding: 64px 150px 0;
        h2 {
          font-size: 24px;
        }
      }
    }
  }
  @media only screen and (max-width: 777px) {
    .account-content {
      .account {
        .account_content {
          h1 {
            font-size: 28px;
          }
        }
      }
      .slide {
        padding: 64px 100px 0;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 606px) {
    .account-content {
      .account {
        .account_content {
          h1 {
            font-size: 22px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        padding: 67px 0 0;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 444px) {
    .account-content {
      .account {
        img {
          height: 100px;
        }
        .account_content {
          h1 {
            font-size: 18px;
            line-height: 28px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
